{% extends 'tickets/index.html' %}

{% block body_block %}


        <div class="showlist">
            <ul>
            {% for ticket in ticketlist %}
                <!-- <li>工单标题: <a href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}</a></li> -->
                <li>工单标题: <a href="/t/{{ ticket.id }}/?user_id={{ user.id }}">{{ ticket.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="pull-right" style="margin-right: 480px;margin-top: 0px">
            <!-- 分页功能-->
            <ul class="pagination">
                <!-- 分页功能前端方向箭头代码 -->
                {% if ticketlist.has_previous %}
                    <li class="enabled">
                        <a href="?page={{ ticketlist.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                <!-- 分页功能显示页码中间部分代码 -->
                {% for page_num in ticketlist.paginator.page_range %}
                    {% if page_num == ticketlist.number %}
                    <li class="active">
                        <a href="#">
                            {{ page_num }}
                            <span class="sr-only">{{ ticket.title }}</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="?page={{ page_num }}">{{ page_num }}
                            <span class="sr-only">{{ ticket.title }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                <!-- <!—  分页功能末端的方向箭头代码--> 
                {% if  ticketlist.has_next %}
                <li class="enabled">
                    <a href="?page={{ ticketlist.next_page_number }}" aria-label="last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
{% endblock %}